@model Aula05.ViewModels.OrderViewModel;

@{
    ViewData["Title"] = "Criar Pedido";
}

<div class="text-center">
    <h1>Cadastro de Pedido</h1>

    <div class="container">
        <form id="formOrder" method="post" asp-action="Create" asp-controller="Order">
            <div class="row">
                <div class="form-group">
                    <label asp-for="@Model.CustomerId">Cliente:</label>
                    <select asp-for="@Model.CustomerId" class="form-select">
                         @foreach (var c in Model.Customers)
                        {
                            <option value="@c.Id">@c.Name</option>
                        }
                    </select>
                </div>
            </div>

            <table class="table table-striped table-bordered table-hover">
                <thead class="table-dark">
                    <tr>
                        <th>Selecionar</th>
                        <th>Item</th>
                        <th>Qtde</th>
                        <th>Val. Unit.</th>
                        <th>Val. Tot.</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.SelectedItems!.Count; i++)
                    {
                        <tr>
                            <td>
                                <input asp-for="@Model.SelectedItems[i].IsSelected"/>
                            </td>
                            <td>
                                <span>@Model.SelectedItems[i].OrderItem.Product!.ProductName</span>
                            </td>
                            <td>
                                <input type="number" asp-for="@Model.SelectedItems[i].OrderItem.Quantity" />
                            </td>
                            <td>
                                <span>@string.Format("{0:C}", Model.SelectedItems[i].OrderItem.Product!.CurrentPrice)</span>
                            </td>
                            <td>
                                <input type="number" asp-for="@Model.SelectedItems[i].OrderItem.PurchasePrice" />
                            </td>

                                <input type="hidden" asp-for="@Model.SelectedItems[i].OrderItem.Product!.Id" />
                        </tr>
                    }
                </tbody>
            </table>

            <button id="btnCustomer" type="submit" class="btn btn-primary" value="Cadastrar">Cadastrar</button>
        </form>

    </div>
</div>